<div class="all">
  <div class="loginHolder">
    <div class="login">
      <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field color="accent">
          <input
            matInput
            type="email"
            placeholder="Email"
            ngModel
            name="email"
            email
            required
            #emailInput="ngModel"
          />
          <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
          <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
          <input
            matInput
            type="password"
            placeholder="Password"
            ngModel
            name="password"
            required
            minlength="6"
            #pwInput="ngModel"
          />
          <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
          <mat-error>6 characters please!</mat-error>
        </mat-form-field>

        <button
          *ngIf="!isLoading"
          [disabled]="f.invalid"
          class="submitButton"
          type="submit"
          mat-button
        >
          Login
        </button>
        <mat-spinner color="accent" diameter="80" *ngIf="isLoading"></mat-spinner>
      </form>
    </div>
  </div>
</div>
