@import "../../../utilities/variables.scss";

mat-form-field {
  width: 300px;
}

.submitButton {
  margin-top: 20px;
}

.datePicker {
  margin-top: 20px;
}

.login {
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  width: 330px;
  margin-top: 50px;
  border: solid $third-color 4px;
  transition: 300ms;
}

.login:hover {
  border: solid $first-color 4px;
  transition: 300ms;
}
