<div class="allSongs" *ngIf="!isLoading">
  <mat-card class="songCard" *ngFor="let song of myUploadedSongs; let i = index" [value]="song.id">
    <mat-card-title class="title">{{ song.name }}</mat-card-title>

    <div style="margin-top: 30px">
      <a class="findIt" routerLink="/mySongs">Listen to it in "My Drops"</a>
    </div>

    <button
      mat-button
      class="deleteButton"
      (click)="onDelete(song.songId, song.heartDocId, song.name)"
    >
      Delete
    </button>
  </mat-card>
</div>

<div
  *ngIf="!isLoading && myUploadedSongs.length != 0"
  style="display: flex; justify-content: center; margin-bottom: 230px; margin-top: 20px"
>
  <button
    class="morePlease"
    (click)="onPrevPage(myUploadedSongs[0].hearts, myUploadedSongs[0].name)"
  >
    Previous
  </button>
  <button
    (click)="
      onNextPage(
        myUploadedSongs[myUploadedSongs.length - 1].hearts,
        myUploadedSongs[myUploadedSongs.length - 1].name
      )
    "
    class="morePlease"
  >
    Next Page
  </button>
</div>

<div class="noUploadsYet" *ngIf="!isLoading && myUploadedSongs.length === 0">
  <span style="font-size: 1rem">No Uploads yet!</span>
</div>

<mat-spinner style="margin: auto" color="accent" *ngIf="isLoading" diameter="68"></mat-spinner>

<app-footer></app-footer>
