<div fxLayout fxLayoutAlign="center" class="mySongs" *ngIf="!isLoading">
  <mat-card class="songCard" *ngFor="let song of mySongs; let i = index" [value]="song.id">
    <mat-card-title class="title">{{ song.name }}</mat-card-title>

    <button
      mat-button
      class="deleteButton"
      (click)="onDelete(song.songId, song.heartDocId, song.name)"
    >
      Delete
    </button>
  </mat-card>
</div>

<mat-spinner style="margin: auto" color="accent" *ngIf="isLoading" diameter="80"></mat-spinner>

<div class="noUploadsYet" *ngIf="!isLoading && mySongs.length === 0">
  <span style="font-size: 1rem">You have no songs yet, upload your first one! :)</span>
</div>

<app-footer></app-footer>
