<div class="allSongs" *ngIf="!isLoading">
  <mat-card class="songCard" *ngFor="let song of myUploadedSongs; let i = index" [value]="song.id">
    <mat-card-title class="title">{{ song.name }}</mat-card-title>
    <div style="margin-top: 15px">{{ song.genre }}</div>
    <h2 class="h2">
      <span class="span">{{ song.hearts }} </span>
    </h2>
    <div class="heartHowManyHolder">
      <div class="heartHowMany"></div>
    </div>

    <div
      [id]="song.videoId"
      style="
        pointer-events: none;
        margin-bottom: 20px;
        margin-top: 15px;
        border-radius: 8px;
        border: solid 5px #e6e6e6;
        border-top-left-radius: 0px;
      "
    ></div>

    <div>
      <app-drop-button
        [buttonStyling]="playPauseButton"
        [spinnerStyling]="spinnerStyling"
        [buttonTitle]="playStopTitle"
        [dropStates]="dropStates[i]"
        [songsLoading]="songsLoading[i]"
        (dropped)="dropSong(i)"
      ></app-drop-button>
    </div>

    <button
      mat-button
      class="deleteButton"
      (click)="onDelete(song.songId, song.heartDocId, song.name)"
    >
      Delete
    </button>
  </mat-card>
</div>

<div class="noUploadsYet" *ngIf="!isLoading && myUploadedSongs.length === 0">
  <span style="font-size: 1rem">No Uploads yet!</span>
</div>

<mat-spinner style="margin: auto" color="accent" *ngIf="isLoading" diameter="68"></mat-spinner>

<app-footer></app-footer>
