.currentSong {
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  text-align: center;
}

.progressBar {
  padding: 3px;
  margin: 10px 0px;
  border-radius: 5px;
}
