<div *ngIf="!isLoading" class="audioPlayer" cdkDragBoundary=".example-boundary" cdkDrag>
  <div class="songTitle">{{ mySongs[whichSongIsDropping].name }}</div>
  <div class="audioPlayerButtonHolder">
    <app-drop-button
      class="audioPlayerButton"
      [buttonStyling]="playPauseButton"
      [spinnerStyling]="spinnerStyling"
      [buttonTitle]="playStopTitle"
      [dropStates]="dropStates[whichSongIsDropping]"
      [songsLoading]="songsLoading[whichSongIsDropping]"
      (dropped)="dropSong(whichSongIsDropping)"
    ></app-drop-button>
    <app-drop-button
      class="audioPlayerButton"
      [buttonStyling]="buttonStyling"
      [spinnerStyling]="spinnerStyling"
      [buttonTitle]="nextTitle"
      (dropped)="dropSong(whichSongIsDropping + 1)"
    ></app-drop-button>
    <app-drop-button
      class="audioPlayerButton"
      [buttonStyling]="buttonStyling"
      [spinnerStyling]="spinnerStyling"
      [buttonTitle]="previousTitle"
      (dropped)="dropSong(whichSongIsDropping - 1)"
    ></app-drop-button>
  </div>
</div>
