@import "./../../utilities/variables.scss";

.audioPlayer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
  position: fixed;
  z-index: 100;
  width: 500px;
  top: 85%;
  left: 50%;
  align-items: center;
  margin-left: -250px;
  background-color: white;
  border: solid black 4px;
  border-radius: 10px;
}

.audioButton {
  background-color: $first-color;
  border: solid white 3px;
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 300ms ease;
  cursor: pointer;
  outline: none;
}
