@import "./../../utilities/variables.scss";

.audioPlayer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  align-items: center;
  z-index: 100;
  top: 60%;
  left: 50%;
  align-items: center;
  margin-left: -250px;
  cursor: grab;
}

.dragable {
  background-color: white;
  display: flex;
  align-items: center;
  border: solid 4px black;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  padding: 30px 20px;
}

.notDragable {
  background-color: $first-color;
  display: flex;
  justify-content: space-between;
  height: auto;
  border: solid 4px black;
  border-left: none;
  padding: 16px;
}

.songTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  letter-spacing: 1px;
  padding: 5px;
  font-size: 1rem;
  background-color: black;
  color: white;
  // border-top-left-radius: 41px;
  // border-bottom-left-radius: 41px;
  height: 80px;
}

.audioPlayerButtonHolder {
  width: 180px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 30px;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: $second-color;
  color: black;
  padding: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 2rem;
  width: 70px;
}

@media only screen and (max-width: 500px) {
  .audioPlayer {
    width: 100%;
    padding: 20px;
    margin: auto;
    left: 0;
  }

  .countdown {
    font-size: 1.4rem;
  }
}
