$first-color: #90d1db;
$second-color: #fff2ca;
$third-color: #e6e6e6;

.start {
  margin: auto;
  padding-top: 5%;
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section {
  margin-bottom: 40px;
  padding: 20px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  border: solid 4px $third-color;
  letter-spacing: 2px;
  animation: left 400ms forwards;
  transition: 400ms;
}

.section:hover {
  animation: right 400ms forwards;
  border: solid 4px $first-color;
  transition: 400ms;
  h1.title {
    border-bottom: $first-color 4px dotted;
    transition: 400ms;
  }
}

@keyframes fiddle {
  0% {
    left: 20px;
    top: 10px;
  }
  100% {
    left: 0px;
  }
}

@keyframes right {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 15px;
  }
}

@keyframes left {
  0% {
    left: 15px;
  }
  100% {
    left: 0px;
  }
}

h1.title {
  border-bottom: $third-color 4px dotted;
  padding: 10px 20px 8px 20px;
  font-weight: normal;
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: 200ms ease;
}
