$first-color: #90d1db;
$second-color: #fff2ca;
$third-color: #e6e6e6;

.start {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  justify-content: space-evenly;
  background-image: url("/image/rt.jpg");
}

.section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $second-color;
  border-radius: 10px;
}

.title {
  border-bottom: $third-color 7px solid;
  padding: 0px 20px 8px 20px;
}

.pic {
  width: 100px;
  height: auto;
}
