<div class="all">
  <div class="headlineDiv">
    <div class="headline">
      <h1 style="padding: 0px 2px;">
        30 SECONDS OF<span [ngStyle]="{ color: '#90d1db' }"> PURE ENERGY</span>
      </h1>
    </div>
  </div>

  <a routerLink="/signup">
    <div class="section">
      <h1 class="title">
        YOUR PLATFORM FOR THE FINEST BEAT DROPS
      </h1>
      <div class="border"></div>

      <p class="theP">
        Each song on
        <span [ngStyle]="{ color: '#90d1db' }">ONLYDROPS</span> is limited to
        <span [ngStyle]="{ color: '#90d1db' }">30 SECONDS</span> to keep up the energy.
      </p>
      <p class="theP">
        Get started by <span>uploading</span> your songs & <span>discover</span> hundrets of
        playlists!
      </p>
      <img src="./../../assets/image/logo.png" class="logoPic" />
    </div>
  </a>
</div>
