<div class="all">
  <div class="start">
    <a routerLink="/signup">
      <div class="section">
        <h1 class="title">Unfinished songs?</h1>
        <p class="theP">
          Your ideas are valuable, don't lose them!
        </p>
      </div>
    </a>
    <a routerLink="/signup">
      <div class="section">
        <h1 class="title">Share</h1>
        <p class="theP">Show the world your ideas and get feedback!</p>
      </div>
    </a>
    <a routerLink="/signup">
      <div class="section">
        <h1 class="title">Discover</h1>
        <p class="theP">Find ideas and get creative!</p>
      </div>
    </a>
  </div>
</div>
