@import "../../../utilities//variables.scss";

.navElements {
  list-style: none;
  padding: none;
  margin: none;
  padding: 0px 40px;
}

.icon {
  color: $first-color !important;
}

.logoPic {
  position: relative;
  top: 9px;
  left: 5px;
  width: 30px;
}

.logo {
  position: relative;
  bottom: 3px;
  left: 10px;
}
