<mat-toolbar class="mainNav" color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon class="icon">menu</mat-icon>
    </button>
  </div>
  <a routerLink="/">
    <div class="logo">
      <span class="logoText">OnlyDrops</span>
      <img class="logoPic" src="../../../assets/image/logo.png" /></div
  ></a>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="50px" class="navElements">
      <li *ngIf="!(isAuth$ | async)"><a class="navItem" routerLink="/signup">Signup</a></li>
      <li *ngIf="!(isAuth$ | async)"><a class="navItem" routerLink="/login">Login</a></li>
      <li *ngIf="isAuth$ | async"><a class="navItem" routerLink="/browse">Discover</a></li>
      <li *ngIf="isAuth$ | async"><a class="navItem" routerLink="/songs">Saved Drops</a></li>
      <li *ngIf="isAuth$ | async"><a class="navItem" routerLink="/upload">Upload</a></li>
      <li *ngIf="isAuth$ | async">
        <a class="navItem" style="cursor: pointer" (click)="handleLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
