<mat-toolbar class="mainNav" color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon class="icon">menu</mat-icon>
    </button>
  </div>
  <a routerLink="/">
    <div class="logo">
      <span class="logoText">SoundHalf</span>
      <img class="logoPic" src="../../../assets/image/logo.png" /></div
  ></a>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="50px" class="navElements">
      <li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuth"><a routerLink="/browse">Discover</a></li>
      <li *ngIf="isAuth"><a routerLink="/songs">My Songs</a></li>
      <li *ngIf="isAuth"><a style="cursor: pointer;" (click)="handleLogout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
