@import "../../../utilities/variables.scss";

mat-form-field {
  width: 100%;
}

button.submitButton {
  margin-top: 20px;
  color: white;
}

.signupHolder {
  padding: 20px 5px 0px 5px;
}

.terms {
  margin-top: 20px;
}

.signup {
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  min-width: 250px;
  max-width: 350px;

  border: solid $third-color 3px;
  transition: 300ms;
}
