<div class="all">
  <div class="signupHolder">
    <div class="signup">
      <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field color="accent">
          <input
            matInput
            type="email"
            placeholder="Email"
            ngModel
            name="email"
            email
            required
            #emailInput="ngModel"
          />
          <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
          <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Make sure to use a strong password!" color="accent">
          <input
            matInput
            type="password"
            placeholder="Password"
            ngModel
            name="password"
            required
            minlength="6"
            #pwInput="ngModel"
          />
          <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
          <mat-error>6 characters please!</mat-error>
        </mat-form-field>
        <mat-form-field class="datePicker" color="accent">
          <input
            matInput
            placeholder="When did you start to make music?"
            [matDatepicker]="picker"
            [max]="maxDate"
            ngModel
            name="startDate"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox color="accent" required ngModel name="agree" class="terms"
          >I make awesome music</mat-checkbox
        >
        <button
          *ngIf="!(isLoading$ | async)"
          [disabled]="f.invalid"
          class="submitButton"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Submit
        </button>
        <mat-spinner
          color="accent"
          style="margin-top: 20px"
          diameter="80"
          *ngIf="isLoading$ | async"
        ></mat-spinner>
      </form>
    </div>
  </div>
</div>
