$second-color: #fff2ca;

mat-form-field {
  width: 300px;
}

.submitButton {
  margin-top: 20px;
}

.datePicker {
  margin-top: 20px;
}

.signup {
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: $second-color;
  border-radius: 10px;
  width: 330px;
}
