<section fxLayout class="addSong" fxLayoutAlign="center">
  <div fxFlex.xs="100%" fxFlex="400px" class="addSong">
    <form #f="ngForm" (ngSubmit)="onUpload(f)">
      <mat-card class="card">
        <mat-card-title class="title">UPLOAD</mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="" color="accent">
            <mat-label>Song Name</mat-label>
            <input matInput ngModel name="songName" required />
          </mat-form-field>
          <br />
          <mat-form-field appearance="" color="accent">
            <mat-label>Song Genre</mat-label>
            <mat-select ngModel name="genre" placeholder="" required>
              <mat-option *ngFor="let genre of genres" [value]="genre">
                {{ genre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>

        <mat-spinner
          *ngIf="isLoading"
          [ngStyle]="{ marginTop: '20px' }"
          color="accent"
          diameter="80"
        ></mat-spinner>

        <mat-label [ngStyle]="{ marginBottom: '20px', marginTop: '24px' }" *ngIf="isLoading"
          >File is uploading...</mat-label
        >

        <label *ngIf="!isLoading">
          Select a file
          <input
            required
            ngModel
            name="file"
            type="file"
            (change)="uploadFile($event)"
            accept="*.wav.mp3"
          />
        </label>

        <mat-card-actions>
          <button mat-button class="uploadButton" type="submit" [disabled]="f.invalid || isLoading">
            Upload
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</section>
