<section fxLayout class="addSong" fxLayoutAlign="center">
  <form (ngSubmit)="onUpload(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px" class="card">
      <mat-card-title class="title">Share your music! </mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="">
          <mat-label>Song Name</mat-label>
          <input matInput ngModel name="songName" required />
        </mat-form-field>
        <br />
        <mat-form-field appearance="">
          <mat-label>Song Genre</mat-label>
          <mat-select ngModel name="genre" placeholder="">
            <mat-option *ngFor="let genre of genres" [value]="genre">
              {{ genre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <label>
        Select a file
        <input
          type="file"
          (change)="uploadFile($event)"
          accept="*.wav.mp3"
          ngModel
          name="songFile"
          required
        />
      </label>

      <mat-card-actions>
        <button mat-button class="uploadButton" type="submit" [disabled]="f.invalid">
          <!-- <mat-icon class="uploadIcon">arrow_upward</mat-icon> -->
          Upload
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
