@import "../../../styles.scss";
@import "../../browse/song-card/song-card.component.scss";
@import "../../upload/my-upload/my-upload.component.scss";
@import "../../start/start.component.scss";

.allSongsNew {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.songCard {
  padding: 10px;
  min-width: 300px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 25px 30px 25px;
  padding-bottom: 32px;
}

.section {
  margin-top: 12px;
}

h1.title {
  margin: 0px;
  margin-bottom: 15px;
  text-align: center;
}
