@import "../../../styles.scss";

.mySongs {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.songCard {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.upButton {
  color: black;
  border: solid $third-color 3px;
  margin-top: 20px;
  padding: 5px;
  transition: 200ms;
  border-radius: 5px;
  cursor: pointer;
}

.upButton:hover {
  background-color: $third-color;
  transition: 200ms;
}

.title {
  padding: 15px;
  margin-bottom: 20px;
}

.audioControl {
  margin: 0px 0px 0px 5px;
  outline: none;
}

.uploadIcon {
  position: relative;
  top: 2px;
  font-size: 1.1rem;
}
