<div fxFlex.xs="100%" class="mySongs" *ngIf="!isLoading">
  <mat-card class="songCard" *ngFor="let song of mySongs; let i = index" [value]="song.id">
    <mat-card-title class="title">{{ song.name }}</mat-card-title>

    <mat-card-content> </mat-card-content>
    <app-drop-button (dropped)="hi(i)"></app-drop-button>
    <mat-card-actions>
      <button mat-button class="deleteButton" (click)="onDelete(song.songId, song.name)">
        Delete
      </button>
    </mat-card-actions>

    <h2 class="h2"><span class="span">All Comments</span></h2>
    <div class="commentsCard">
      <p *ngFor="let comment of getMyComments(song.songId)" [value]="comment.id" align="start">
        {{ comment.content }}
      </p>
    </div>
  </mat-card>
</div>
<mat-spinner style="margin: auto;" color="accent" *ngIf="isLoading" diameter="80"></mat-spinner>
<div class="section" *ngIf="!isLoading && mySongs.length === 0">
  <p class="theP">
    You have no songs yet, upload your first one! :)
  </p>
</div>
