<section fxLayout class="addSong" fxLayoutAlign="center">
  <div fxFlex.xs="100%" fxFlex="320px" class="addSong">
    <form #f="ngForm" (ngSubmit)="onUpload(f)">
      <mat-card class="card">
        <mat-card-title class="title">UPLOAD</mat-card-title>
        <mat-form-field style="width: 100%" appearance="" color="accent">
          <mat-label>Youtube Url</mat-label>
          <input matInput ngModel name="youtubeUrl" required />
        </mat-form-field>
        <br />
        <mat-form-field style="width: 100%" appearance="" color="accent">
          <mat-label>Time of the drop in seconds</mat-label>
          <input
            matInput
            type="number"
            placeholder="78 seconds = 1:18 minutes"
            ngModel
            name="dropTime"
            required
          />
        </mat-form-field>
        <br />
        <mat-form-field style="width: 100%" appearance="" color="accent">
          <mat-label>Name your drop</mat-label>
          <input matInput ngModel name="songName" required maxlength="21" />
        </mat-form-field>
        <br />
        <mat-form-field style="width: 100%" appearance="" color="accent">
          <mat-label>What genre is it?</mat-label>
          <mat-select ngModel name="genre" placeholder="" required>
            <mat-option *ngFor="let genre of genres" [value]="genre">
              {{ genre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-spinner
          *ngIf="isLoading"
          [ngStyle]="{ marginTop: '20px' }"
          color="accent"
          diameter="80"
        ></mat-spinner>

        <mat-label [ngStyle]="{ marginBottom: '20px', marginTop: '24px' }" *ngIf="isLoading"
          >posting...</mat-label
        >
        <mat-card-actions>
          <button mat-button class="uploadButton" type="submit" [disabled]="f.invalid || isLoading">
            Upload
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</section>
<app-footer></app-footer>
