<div class="allSongs animate__animated animate__fadeInUp">
  <mat-card class="songCardNew">
    <form #f="ngForm" style="width: 80%" (ngSubmit)="onUpload(f)">
      <mat-card-title class="title">UPLOAD</mat-card-title>
      <mat-form-field style="width: 100%" appearance="" color="accent">
        <mat-label>Youtube URL</mat-label>
        <input
          matInput
          ngModel
          name="youtubeUrl"
          placeholder="https://www.youtube.com/watch?v=DPHsToh4z3Y"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field style="width: 100%" appearance="" color="accent">
        <mat-label>Time of the drop</mat-label>
        <input matInput type="text" placeholder="2:36" ngModel name="dropTime" required />
      </mat-form-field>
      <div style="width: 220px; height: auto">
        <img style="width: 100%; border-radius: 6px" src="../../../assets/image/youtubeTime4.jpg" />
      </div>

      <br />
      <mat-form-field style="width: 100%" appearance="" color="accent">
        <mat-label>Name your drop</mat-label>
        <input matInput ngModel name="songName" required maxlength="21" />
      </mat-form-field>
      <br />
      <mat-form-field style="width: 100%" appearance="" color="accent">
        <mat-label>What genre is it?</mat-label>
        <mat-select ngModel name="genre" placeholder="" required>
          <mat-option *ngFor="let genre of genres" [value]="genre">
            {{ genre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-label [ngStyle]="{ marginBottom: '20px', marginTop: '24px' }" *ngIf="isLoading"
        >Uploading..</mat-label
      >
      <mat-card-actions>
        <button mat-button class="uploadButton" type="submit" [disabled]="f.invalid || isLoading">
          Upload
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
<app-footer></app-footer>
