<section fxLayout fxLayoutAlign="center">
  <div fxFlex.xs="100%" fxFlex="400px" class="randomSong" *ngIf="!isLoading">
    <mat-card class="songCard">
      <mat-card-title class="title">{{ randomSong.name }}</mat-card-title>
      <mat-card-label>{{ randomSong.genre }}</mat-card-label>
      <mat-card-content></mat-card-content>
      <audio controls preload="none" class="audioControl">
        <source [src]="randomSong.path" />
        Your browser does not support the audio element.
      </audio>
    </mat-card>
  </div>
  <mat-spinner
    diameter="80"
    color="accent"
    [ngStyle]="{ margin: '40px' }"
    *ngIf="isLoading"
  ></mat-spinner>
</section>
