<div class="profileHolder">
  <mat-card class="profile">
    <mat-card-title class="title">My Profile</mat-card-title>

    <div style="margin-top: 30px">Email: {{ email }}</div>
    <!-- <div style="margin-top: 5px">Uploads:</div> -->

    <button
      (click)="onLogout()"
      mat-button
      style="
        font-size: 1rem;
        margin-top: 30px;
        border-bottom: solid 5px #e6e6e6;
        border-top: solid 5px #e6e6e6;
        border-radius: 0px !important;
      "
    >
      Logout
    </button>

    <h2 class="h2" style="margin-top: 63px">
      <span class="span">Danger Zone</span>
    </h2>

    <button
      (click)="onDeleteAccount()"
      style="font-size: 1rem; margin-top: 10px !important"
      mat-button
      class="deleteButton"
    >
      Delete Account
    </button>
  </mat-card>
</div>
