<div class="profileHolder animate__animated animate__fadeInUp">
  <mat-card class="profile">
    <mat-card-title class="title">My Profile</mat-card-title>

    <div style="margin-top: 30px">{{ email }}</div>
    <!-- <div style="margin-top: 5px">Uploads:</div> -->

    <button
      (click)="onLogout()"
      class="formButton specialButton"
      style="
        font-size: 1rem;
        margin-top: 30px;
        border-bottom: solid 5px rgba(231, 231, 231, 0.726);
        border-top: solid 5px rgba(231, 231, 231, 0.726);
        border-radius: 0px;
      "
    >
      Logout
    </button>

    <h2 class="h2" style="margin-top: 63px">
      <span class="span">Danger Zone</span>
    </h2>

    <button
      (click)="onDeleteAccount()"
      style="font-size: 1rem; margin-top: 10px !important"
      class="deleteButton"
    >
      Delete Account
    </button>
  </mat-card>
</div>
