@import "utilities/variables";

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

main {
  text-align: center;
  position: relative;
}

html,
body,
code {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1rem;
  overflow: visible;
  font-family: "Quicksand", sans-serif !important;
  color: white !important;
}
body {
  font-family: "Quicksand", sans-serif !important;
}

p {
  color: white;
}

.mat-drawer-container {
  background-color: #90d1db;
}

.mat-tab-header {
  margin-top: 20px;
  border: none !important;
}

.mat-toolbar {
  background-color: black !important;
  color: black !important;
}

.mat-tab-label-content,
.mat-tab-label {
  opacity: 1 !important;
  font-weight: lighter !important;
  font-style: normal;
}

mat-ink-bar {
  background-color: $second-color !important;
}

audio.audioControl {
  margin: 0px;
  outline: none;
  padding: 0px 10px;
}

.mat-card {
  background-color: $second-color;
  color: black;
  border-radius: 10px !important;
  box-shadow: none !important;
  border: 7px solid $third-color;
}

.mat-card-title {
  font-weight: lighter;
  border-bottom: dotted 4px $third-color;
  font-style: normal;
  padding: 7px !important;
  line-height: 1.5;
  letter-spacing: 2px;
}

mat-card-label {
  font-style: italic !important;
}

.mat-tab-label-content {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  text-align: center;
  margin: 100px 100px 100px 100px;
  color: black;
}

p {
  color: black;
}

a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-style: normal;
  font-size: 1rem;
}

.submitButton {
  color: white !important;
}

.all {
  background-image: url("../src/assets/image/bed.jpg") !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: calc(100vh - 64px);
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .all {
    height: calc(100vh - 56px);
    border-bottom: solid 36px $second-color;
  }
}

a:hover {
  color: $first-color;
  font-weight: lighter;
}

a:active,
a:visited {
  color: white;
}
