/* You can add global styles to this file, and also import other style files */

html,
body,
code {
  height: 100%;
  font-size: 1rem;
  overflow: visible;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

a:hover,
a:active {
  color: black;
}
