<mat-nav-list>
  <div class="phoneNavDiv">
    <a mat-list-item routerLink="/browse" (click)="closeSidenav()"
      ><mat-icon class="phoneIcon">radio</mat-icon><span class="phoneNavText">Discover</span></a
    >
    <a *ngIf="!(isAuth$ | async)" mat-list-item routerLink="/signup" (click)="closeSidenav()"
      ><mat-icon class="phoneIcon">assignment-ind</mat-icon
      ><span class="phoneNavText">Signup</span></a
    >
    <a *ngIf="!(isAuth$ | async)" mat-list-item routerLink="/login" (click)="closeSidenav()"
      ><mat-icon class="phoneIcon">account_circle</mat-icon
      ><span class="phoneNavText">Login</span></a
    >
    <a *ngIf="isAuth$ | async" mat-list-item routerLink="/songs" (click)="closeSidenav()"
      ><mat-icon class="phoneIcon">headset</mat-icon><span class="phoneNavText">My Drops</span></a
    >
    <a *ngIf="isAuth$ | async" mat-list-item routerLink="/upload" (click)="closeSidenav()"
      ><mat-icon class="phoneIcon">swap_vert</mat-icon><span class="phoneNavText">Upload</span></a
    >

    <a *ngIf="isAuth$ | async" mat-list-item (click)="closeSidenav(); handleLogout()"
      ><mat-icon class="phoneIcon">exit_to_app</mat-icon><span class="phoneNavText">Logout</span></a
    >
  </div>
</mat-nav-list>
