<div fxFlex.xs="100%" class="allSongs" *ngIf="!isLoading">
  <mat-card
    class="songCard animate__animated animate__fadeIn"
    *ngFor="let song of allSongs; let i = index"
    [value]="song.songId"
  >
    <mat-card-title class="title">{{ song.name }}</mat-card-title>

    <div
      [id]="song.playerId"
      style="pointer-events: none; margin-bottom: 20px; margin-top: 20px; border-radius: 8px"
    >
      {{ song.playerId }}
    </div>

    <div
      style="
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 100%;
        margin-bottom: 20px;
      "
    >
      <div>
        <app-drop-button
          [buttonStyling]="playPauseButton"
          [spinnerStyling]="spinnerStyling"
          [buttonTitle]="playStopTitle"
          [dropStates]="dropStates[i]"
          [songsLoading]="songsLoading[i]"
          (dropped)="dropSong(i)"
        ></app-drop-button>
      </div>

      <div>Favourite</div>
    </div>
    <h2 class="h2"><span class="span">Full Song</span></h2>

    <!-- <form class="writeComment" (ngSubmit)="onAddComment(f, song.songId, song.userId)" #f="ngForm">
      <mat-form-field appearance="" color="accent">
        <mat-label>Sounds good?</mat-label>
        <textarea matInput ngModel name="content"></textarea>
      </mat-form-field>
      <mat-card-actions [ngStyle]="{ marginBottom: '0px', marginTop: '0px' }">
        <button mat-button type="submit" [disabled]="f.invalid">Post</button>
      </mat-card-actions>
    </form>

    <h2 class="h2"><span class="span">All Comments</span></h2>
    <div class="commentsCard">
      <p *ngFor="let comment of getMyComments(song.songId)" [value]="comment.id" align="start">
        {{ comment.content }}
      </p>
    </div> -->
  </mat-card>
  <button (click)="onLoadMoreSongs(allSongs[allSongs.length - 1].name)" class="morePleasePhone">
    Load more songs
  </button>
</div>
<button (click)="onLoadMoreSongs(allSongs[allSongs.length - 1].name)" class="morePlease">
  Load more songs
</button>

<mat-spinner diameter="80" color="accent" style="margin: auto" *ngIf="isLoading"></mat-spinner>
