@import "../../../utilities//variables.scss";

.allSongs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.songCard {
  padding: 10px;
  min-width: 300px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 25px 30px 25px;
  padding-bottom: 32px;
}

.title {
  padding: 15px;
  margin-bottom: 5px;
  cursor: default;
}

.audioControl {
  margin: 0px 0px 20px 5px;
  outline: none;
}

.uploadIcon {
  position: relative;
  top: 2px;
  font-size: 1.1rem;
}

.writeComment {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top-left-radius: 21px;
  border-top-right-radius: 6px;
  padding: 20px 20px 0px 20px;
  width: 80%;
}

.commentsCard {
  width: 80%;
  padding: 20px 20px 0px 20px;
}

.h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin-top: 20px;
}

.h2 .span {
  background: $second-color;
  padding: 0 10px;
  font-family: "Raleway", serif;
  font-size: 1rem;
}

.h2 .spano {
  background: $second-color;
  padding: 0 10px;
  font-family: "Raleway", serif;
  font-size: 1rem;
  color: black;
}

.h2 .spano:hover {
  color: $first-color;
}
.morePlease {
  font-weight: lighter;
  font-family: "Raleway", serif;
  color: black;
  display: block;
  text-align: center;
  background-color: $second-color;
  margin: auto;
  border: solid 4px $third-color;
  font-size: 1rem;
  padding: 13px;
  cursor: pointer;
  margin-left: 15px;
  width: 120px;
  border-radius: 7px;
  height: 60px;
  margin-right: 15px;
}

.morePleaseNew {
  font-weight: lighter;
  font-family: "Raleway", serif;
  color: black;
  display: block;
  text-align: center;
  background-color: $second-color;
  margin: auto;
  border: solid 4px $third-color;
  font-size: 1rem;
  padding: 13px;
  cursor: pointer;
  margin-left: 15px;
  width: fit-content;
  border-radius: 7px;
  height: 60px;
  margin-right: 15px;
}

.morePlease:hover {
  background-color: $first-color;
  color: white;
}

.morePleaseNew:hover {
  background-color: $first-color;
  color: white;
}

.heartHolder {
  width: 80px;
  border: solid 3px transparent;
}

.heart {
  margin-top: 23px;
  position: relative;
  left: 29px;
  background-color: $heart-red;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  cursor: pointer;
  animation: heart1 500ms ease;
  animation-fill-mode: forwards;
}

.heart::after {
  background-color: $heart-red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
}

.heart::before {
  background-color: $heart-red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0px;
}

.noHeart {
  margin-top: 23px;
  position: relative;
  left: 29px;
  background-color: rgb(216, 216, 216);
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  cursor: pointer;
}

.noHeart::after {
  background-color: rgb(216, 216, 216);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
}

.noHeart::before {
  background-color: rgb(216, 216, 216);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0px;
}

.heartHowManyHolder {
  margin-top: 2px;
  display: flex;
  width: 200px;
  cursor: default;
  align-items: center;
  justify-content: center;
}

.heartHowMany {
  position: relative;
  cursor: default;
  margin-right: 10px;
  left: 4px;
  background-color: $heart-red;
  width: 14px;
  height: 14px;
  transform: rotate(-45deg);
}

.heartHowMany::after {
  cursor: default;
  background-color: $heart-red;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 0px;
  left: 7px;
}

.heartHowMany::before {
  cursor: default;
  background-color: $heart-red;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0px;
}

@keyframes heart1 {
  0% {
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(-45deg);
  }

  50% {
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(3px) rotate(+30deg);
  }

  100% {
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(-45deg);
  }
}

@keyframes color {
  0% {
    background-color: rgb(216, 216, 216);
  }

  100% {
    background-color: $heart-red;
  }
}
