<div class="allSongs" *ngIf="!isLoading">
  <mat-card
    *ngFor="let song of allSongs; let i = index"
    [value]="song.songId"
    class="songCard animate__animated animate__fadeIn"
  >
    <mat-card-title class="title">{{ song.name }}</mat-card-title>
    <div style="margin-top: 15px; cursor: default">{{ song.genre }}</div>

    <h2 class="h2">
      <span class="span">{{ song.hearts }} </span>
    </h2>
    <div class="heartHowManyHolder">
      <div class="heartHowMany"></div>
    </div>

    <div
      [id]="song.videoId"
      style="
        pointer-events: none;
        margin-bottom: 20px;
        margin-top: 15px;
        border-radius: 8px;
        border: solid 5px #e6e6e6;
        border-top-left-radius: 0px;
      "
    ></div>

    <div
      style="
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 100%;
        margin-bottom: 20px;
      "
    >
      <div *ngIf="!justALittleDelay" class="animate__animated animate__fadeIn">
        <app-drop-button
          [buttonStyling]="playPauseButton"
          [spinnerStyling]="spinnerStyling"
          [buttonTitle]="playStopTitle"
          [dropStates]="dropStates[i]"
          [songsLoading]="songsLoading[i]"
          (dropped)="dropSong(i)"
        ></app-drop-button>
      </div>
      <div class="heartHolder">
        <div
          [ngClass]="song.isHearted ? 'heart' : 'noHeart'"
          (click)="onHeartSong(song.hearts, song.heartedBy, song.songId, i)"
        ></div>
        <p *ngIf="song.isHearted == false" style="margin-top: 10px; cursor: default">Save Drop</p>
        <p
          *ngIf="song.isHearted == true"
          style="margin-top: 10px; cursor: default; letter-spacing: 1.3px"
        >
          Saved
        </p>
      </div>
    </div>
    <h2 class="h2">
      <a class="videoLink" target="_blank" [href]="song.url"
        ><span class="spano">Watch Full Video</span></a
      >
    </h2>

    <!-- <form class="writeComment" (ngSubmit)="onAddComment(f, song.songId, song.userId)" #f="ngForm">
      <mat-form-field appearance="" color="accent">
        <mat-label>Sounds good?</mat-label>
        <textarea matInput ngModel name="content"></textarea>
      </mat-form-field>
      <mat-card-actions [ngStyle]="{ marginBottom: '0px', marginTop: '0px' }">
        <button mat-button type="submit" [disabled]="f.invalid">Post</button>
      </mat-card-actions>
    </form>

    <h2 class="h2"><span class="span">All Comments</span></h2>
    <div class="commentsCard">
      <p *ngFor="let comment of getMyComments(song.songId)" [value]="comment.id" align="start">
        {{ comment.content }}
      </p>
    </div> -->
  </mat-card>
</div>

<div
  style="display: flex; justify-content: center; margin-bottom: 230px; margin-top: 20px"
  *ngIf="!isLoading"
>
  <!-- <button (click)="onPrevPage(allSongs[0].hearts)" class="morePlease">Previous Page</button> -->
  <button
    (click)="
      onLoadMoreDrops(allSongs[allSongs.length - 1].hearts, allSongs[allSongs.length - 1].name)
    "
    class="morePleaseNew"
  >
    More Drops
  </button>
</div>
<mat-spinner diameter="68" color="accent" style="margin: auto" *ngIf="isLoading"></mat-spinner>
<app-footer></app-footer>

<!-- <div style="display: flex">
  <button (click)="onLoadMoreSongs(allSongs[allSongs.length - 1].hearts)" class="morePleasePhone">
    Next Page
  </button>
  <button (click)="onLoadMoreSongs(allSongs[allSongs.length - 1].hearts)" class="morePleasePhone">
    Previous Page
  </button>
</div> -->

<app-audio-player [audioArray]="allSongs" [whichAudioArray]="whichAudioArray"></app-audio-player>
