@import "../../../utilities//variables.scss";

.allSongs {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  align-content: center;
  padding: 0px 100px;
}

.songCard {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin: 0px 10px 30px 10px;
}

.title {
  padding: 15px;
  margin-bottom: 5px;
}

.audioControl {
  margin: 0px 0px 20px 5px;
  outline: none;
}

.uploadIcon {
  position: relative;
  top: 2px;
  font-size: 1.1rem;
}

.writeComment {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top-left-radius: 21px;
  border-top-right-radius: 6px;
  padding: 20px 20px 0px 20px;
  width: 80%;
}

.commentsCard {
  width: 80%;
  padding: 20px 20px 0px 20px;
}

.h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin-top: 20px;
}

.h2 .span {
  background: $second-color;
  padding: 0 10px;
  font-family: "Raleway", serif;
  font-size: 1rem;
}

@media only screen and (max-width: 500px) {
  .allSongs {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
  }

  .songCard {
    margin: 0px;
  }
}
